TO DO: do a query to post all transactions from a certain account (like: Cash)

./AppendExpenses.rb Data/Download/BusinessChecking.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/BusinessSparkVisa.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/JointChecking.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/JointSaving.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/PersonalSavings.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/PersonalChecking.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/ChasePersonalCredit.csv "Data/Budget Transactions.csv"
./AppendExpenses.rb Data/Download/PaypalManual.csv "Data/Budget Transactions.csv"

These: no longer used much, but could be later.
./AppendExpenses.rb Data/Download/USAACredit.csv "Data/2016 Budget Transactions.csv"

DATA/DOWNLOAD/TRANSACTIONS ISSUES
Things that change mid-year are annoying: like Payroll, Other Income (Bus?), and Insurance... from budget perspective.

DONE: As a sleuth, I would like to ask to see the detailed transactions (account, description, amount, note, date) for a given  category, so that I can recall what was specifically done on that category and to verify that the category label is correct, sorted by date.

TO DO (Low Priority): As a sleuth, I would like to ask to see the detailed transactions (account, description, amount, note, date) for a given  category AND A GIVEN YEAR, so that I can recall what was specifically done on that category and to verify that the category label is correct, sorted by date.

TO DO (Medium): As a sleuth I would like a report that shows all the data in summary format for each of the categories that is an entry point for Taxes... 

MANUAL ENTRIES: 
Paypal account?
Cash transactions?
HSA Account Transactions?
Fidelity - DOWNLOAD. 

TO DO: As an Admin downloading transactions, I would like to remove the extra line feed at the end of each import

TO DO: In USAA:, change 'Consulting' transactions to Business Income

THINGS TO CHECK PRIOR TO DOWNLOAD: Need to resolve the transfers vs. deposits....c

BUG FIXES - 
Need to resolve double negatives (They error, and then I fix manually)

Transfers from Paypal are Income.
Other transfers are simply assets and shouldn't show at all. 
Deposits need to be treated like transfers unless they are some sort of income..... 
In a sense garage sales are also a form of transfer... but hey I'ld like to know what that is...


./showMeACategory.rb  "Training"
./showMeACategory.rb  "Marketing/Advertising"
./showMeACategory.rb  "Liability Insurance"
 ./showMeACategory.rb  "Travel - Lodging"
 ./showMeACategory.rb  "Dining"
 ./showMeACategory.rb  "Meals and Entertainment"
 ./showMeACategory.rb  "Conference"
 ./showMeACategory.rb  "Books related to work"
 ./showMeACategory.rb  "Parking"
 ./showMeACategory.rb  "Uber"
 ./showMeACategory.rb  "Other Transportations"


./showMeACategory.rb  "Healthcare/Medical"
./showMeACategory.rb  "Health Insurance Premium"



IF you don't have rspec, run this in BASH...
sudo gem install rspec

Don't mess with the format of the budget file.

____
1/1/2019  Modified: we changed expense.rb importexpenses to include the first line of the file

